<% unless @ofertas.empty? %>
    <% if @ofertas.size > 2 %>
        <%= paginate @ofertas %><br/><br/>
    <% end %>
    <table class="ofertas" summary="Ofertas">
        <%= render @ofertas %>
    </table>
<% end %>
