<table class="front" summary="For signed-in users">
    <tr>
        <td class="main">
            <h1 class="offer">Nova Oferta</h1>
            <%= render 'shared/offer_form' %>
        </td>
    </tr>
</table>
