<table class="description" summary="Oferta">
    <tr>
        <td class="main">
            <h1>
                <%= @oferta.title %> - R$ <%= @oferta.price_mask %>
            </h1>
        </td>
        <td class="sidebar round">
            <strong>Tipo</strong> <%= @oferta.tipo %><br />
        </td>
    </tr>
</table>
