<% if signed_in? %>
    <table>
        <tr>
            <td class="main">
                <h1> Ofertas do dia </h1>
                <% unless @ofertas.empty? %>
                    <table class="ofertas" summary="Ofertas">
                        <%= render @ofertas %>
                    </table>
                <% end %>
            </td>
            <td class="sidebar round">
                <strong>Informática</strong>
            </td>
        </tr>
    </table>
<% else %>
    <h1>DealWit.Me</h1>
    <p>
        <%= link_to "Cadastre-se agora!", novocadastro_path %>
    </p>
<% end %>
