<% if signed_in? %>

    
    <% unless @ofertas.empty? %>
        <table class="ofertas" summary="Ofertas">
            <%= render @ofertas %>
        </table>
        <%= will_paginate @ofertas %>
    <% end %>
<% else %>
    <h1>DealWit.Me</h1>
    <p>
        <%= link_to "Cadastre-se agora!", novocadastro_path %>
    </p>
<% end %>
