<% if signed_in? %>
    <table class="front" summary="For signed-in users">
        <tr>
            <td class="main">
                <h1 class="offer">Nova Oferta</h1>
                <%= render 'shared/offer_form' %>
            </td>
        </tr>
    </table>
    <% unless @ofertas.empty? %>
        <table class="ofertas" summary="Ofertas">
            <%= render @ofertas %>
        </table>
        <%= will_paginate @ofertas %>
    <% end %>
<% else %>
    <h1>DealWit.Me</h1>
    <p>
        <%= link_to "Cadastre-se agora!", novocadastro_path %>
    </p>
<% end %>
