<header>
    <nav class="round">
        <ul>
            <li><%= link_to "Página inicial", root_path %></li>
            <li>E-mail: <input type="text" name="email"/></li>
            <li>Senha: <input type="password" name="senha"/></li>
        </ul>
    </nav>
</header>
